doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
        title Document
    body 
        table.table
            tr
                td Название
                td Авторы
                td Год
                td Действия
                td Кликов
            each book in books 
                tr
                    td= `${book.name}`
                    td= `${book.authors}`
                    td= `${book.year}`
                    td= `${book.delete}`
                    td= `${book.clicks}`
        form(method="post", enctype="multipart/form-data")
            input#name(type="text", name="name", placeholder="name", required)
            input#year(type="text", name="year", placeholder="year", required)
            input#author1(type="text", name="authors[0]", placeholder="author1", required)
            input#author2(type="text", name="authors[1]", placeholder="author2")
            input#author3(type="text", name="authors[2]", placeholder="author3")
            br
            textarea#discription(name="discription", placeholder="discription")
            br
            input#cover(type="file", name="cover", placeholder="cover", required)
            br
            input(type="submit", value="добавить книгу")